html{
    box-sizing: border-box;
  }
  *,*::before, *::after{
    box-sizing:inherit ;
  }

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  color: white;
}
  
img{
    max-width: 100%;
    height: auto;
  }
  /* header styles starts*/
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding-bottom: 20px;
  z-index: 99999;
  }
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 57px ;
}
.header_active{
  background: #5181bb;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 42px;
}
.header_item:last-child{
    margin-right: 0px;
}
.header_link{
  font-size: 16px;
  line-height: 26px;
  color: black;
  text-decoration: none;
}
.header_link:hover,.header_link:focus,.header_link:active{
  color: #34547A;
}
  /* header-styles-end*/
  /* info-styles-start*/
.intro{
  height: 368px;
  margin-top: 161px;
  margin-bottom: 256px;
}
.intro__inside{
  display: flex;
  align-items: center;
  padding-left: 96px;
    
}
.intro__text{
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-left: 143px;
}
  
.intro_title{
  font-size: 48px;
  font-weight: 500;
  line-height: 79px;
  color: black;
  padding-bottom: 60px;
}
.intro__subtitle{
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
align-items: center;
padding-bottom: 60px;
}
.intro__inside__sibmit{
max-width: 225px;
height: 65px;
color: white;
background: #34547A;
border: none;
}
.intro__img{
  max-height: 233px;

}

/* info-styles-end*/
.info{
  height: 147px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.info__inside{
  max-width: 540px;

}
.info__title{
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: black;
  margin-bottom: 50px;
}
.info__subtitle{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
/*info-line-styles-start*/
.info-line{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #34547A;
  margin-bottom: 102px;
}
.info-line__inside{
  display: flex;
  flex-direction: row;
  max-width: 1091px;
  height: 50px;
}
.info-line__img{
  margin-right: 20px;
}
.info-line__img:last-child{
  margin-right: 0px;
}
.info-line__info{
  margin-right: 50px;
}
.info-line__info:last-child{
  margin-right: 0;
}
/*info-line-styles-end*/
/*my abilities-start*/
.my-abilities{
  display: flex;
  justify-content: center;
  height: 450px;
  margin-bottom: 201px;
}
.my-abilities__inside{
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
}
.my-abilities__img{
  height: 450px;
  width: 555px;
  margin-left: 150px;
}
.my-abilities__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my-abilities__title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: black;
  margin-bottom: 20px;
}
.my-abilities__subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 30px;
  margin-bottom: 18px;
}


.my-abilities__line{
  width: 349.36px;
  height: 4px;
  background: #34547A;
}

/*my abilities-end*/